@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;
  --color-primary: #f58129;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221810;
}

body {
  font-family: var(--font-display);
  @apply bg-background-light text-slate-900 antialiased;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
